<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="col-md-12 table-responsive">
                <table id="connect_devices" class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        <th class="column-title">STT</th>
                        <th class="column-title">DeviceID</th>
                        <th class="column-title">Device Type</th>
                        <th class="column-title">IP Address</th>
                        <th class="column-title">Status</th>
                        <th class="column-title">Action</th>
                    </tr>
                    </thead>
                    <tbody id="devices">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>