<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <form id="eventForm" name="eventForm" method="POST">
                <label for="deviceID">Choose device *:</label>
                <select id="deviceID" class="form-control" required>
                </select>
<!--                <button class="btnSpecial" onclick="addEvent(this)">-->
                <button class="btnSpecial" onclick="addEvent(this)">
                    EVENT REAL TIME
                </button>
            </form>
        </div>
    </div>
</div>