<html xmlns:th="http://www.thymeleaf.org">
<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <label for="deviceID">Choose device:</label>
            <select id="deviceID" class="form-control">
            </select>
            <!--                <button class="btnSpecial" onclick="addEvent(this)">-->
            <button class="btnSpecial" onclick="addEvent()">
                EVENT REAL TIME
            </button>
<!--            <form th:object="${selectUserID}" id="eventForm" name="eventForm" method="POST" hidden="hidden">-->
<!--                <input id="selectUserID" name="selectUserID" type="hidden"/>-->
<!--            </form>-->
        </div>
        <div class="col-md-12 table-responsive">
            <table id="table_users" class="table table-striped jambo_table bulk_action">
                <thead>
                <tr class="headings">
                    <th class="column-title">ID</th>
                    <th class="column-title">Username</th>
                    <th class="column-title">Name</th>
                    <th class="column-title">Address</th>
                    <th class="column-title">Image</th>
                </tr>
                </thead>
                <tbody id="showUser">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<script th:inline="javascript">-->
<!--    var message = [[${message}]];-->
<!--    var table = document.getElementById("showUser");-->
<!--    if (message !== null && message !== 'null') {-->
<!--        var acc = [[${account}]];-->
<!--        table.innerHTML = "";-->
<!--        if (acc !== null) {-->
<!--            createMessage(acc);-->
<!--        } else {-->
<!--            table.innerHTML = '<tr><td class="a-center" colspan="5">No resuft!</td></tr>';-->
<!--        }-->
<!--    }-->

<!--    function createMessage(account) {-->
<!--        var userID = "<td>" + account.id + "</td>";-->
<!--        var username = "<td>" + account.username + "</td>";-->
<!--        var name = "<td>" + account.name + "</td>";-->
<!--        var address = "<td>" + account.address + "</td>";-->
<!--        var image = "<td>" + message.image + "</td>";-->
<!--        table.innerHTML = "<tr>" + userID + username + name + address + image + "<tr>";-->
<!--    }-->
<!--</script>-->
</html>