<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="col-md-12 table-responsive">
                <table id="conversation" class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        <th class="column-title">STT</th>
                        <th class="column-title">DeviceID</th>
                        <th class="column-title">Type</th>
                        <th class="column-title">useDHCP</th>
                        <th class="column-title">ConnectionMode</th>
                        <th class="column-title">IPAddress</th>
                        <th class="column-title">Port</th>
                        <th class="column-title">Action</th>
                    </tr>
                    </thead>
                    <tbody id="greetings">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>